header{
    background-color: #FFF8D6 ;
    border: solid 2px black;
    height: 50px;
    text-align: center;
    font-size: xx-large;
}

body{
    background-color: lightskyblue;
    display:grid;
    grid-template-rows: 5fr 6fr;
    font-size: large;
}

button{
    background-color: #A36A00;
    border: 2px solid black;
}

#links{
    border: green solid 2px;
    background-color: #10A355;
    margin-bottom: 0%;
}

#content{
    border: solid #A36A00 2px;
    background-color: lightgreen;
    font-size: medium;
    margin-top: 0%;
}

#extras {
    background-color: #A36A00;
    font-size: larger;
}


footer{
    background-color: #FFF8D6 ;
    border: solid 2px black;
}
